@import '../../../src/minuet';

@include normalize();

#home {
  @include size(100%);
  @include transition(all, 1s, ease);
  @include parallax-block(100);
  background: rgb(20, 20, 90);

  #{select-headings()}, #{select-texts()} {
    font-family: 'Helvetica Neue' 'Helvetica' sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }

  #{select-links()} {
    color: purple;
  }

  img {
    @include cover-image();
  }

  video {
    @include cover-video();
  }

  #burger {
    @include burger-button();
    @include ftl;
    z-index: 100;
    top: 20px;
    left: 20px;
  }

  #flex-grid {
    @include display('grid1/300px|10px');

    @include screen('>=tablet') {
      @include display('grid2/300px|10px');
    }

    @include screen('>=notebook') {
      @include display('grid3/300px|10px');
    }

    @include screen('>=desktop') {
      @include display('grid4/300px|10px');
    }

    & > div.generic {
      @include display('box');
      padding: 20px;
      background: rgb(10, 10, 10);

      #{select-headings()} {
        font-size: 8em;
        font-weight: 100;
        width: 100%;
      }

      #{select-texts()} {
        font-size: 2em;
        font-weight: 100;
        width: 100%;
      }
    }

    & > * {
      @include overflow(hidden);
      @include transition(all, 0.4s, ease-out);
      &:hover { opacity: 0.4; }
    }
  }

  #flex-block {
    @include display('elastic>', left center);
    color: white;
    background: black;

    & > div {
      @include display('boxv');
      @include size(auto 100%);
      padding: 20px;
      text-align: center;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) { background: rgba(100, 100, 100, $i * 0.1); }
      }
    }
  }

  #fluid-block {
    @include display('fluid', center);
    color: white;
    background: rgb(10, 10, 10);

    & > div {
      @include size(80%);
      @include display('(fluid)', center);
      padding: 20px;
      background: rgb(20, 20, 20);
    }
  }

  #parallax-block {
    pointer-events: none;

    & > div {
      @include display('box', center);
      width: 100%;
      height: 33.333333%;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transform: translate3d(0, 0, #{(($i - 1) * 10)}px);
          background: rgba(100, 100, 100, $i * 0.1);
        }
      }
    }
  }
}

