extends /layouts/base

append vars
  - viewId = 'flex'

block body
  section
    div.depth0: p= 'This is a box inside a flex>'
    div.depth0
      div.depth1: p= 'This is an elasticv inside a flex>'
      div.depth1
        div.depth2: p= 'These 2 are boxes...'
        div.depth2: p= '...inside an elastic>'
    div.depth0
      img.core(src='http://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,dpr_1.0,q_80,w_10000/MTM1OTg5NTM4OTExNzIwNzIy.jpg')
    div.depth0
      div.grid
        div.core: p= 'This is a gridv3'
        div.core: p= 'with 3 items'
        div.core: p= 'and an inner padding'
    div.depth0
      div.core: p= 'This'
      div.core: p= 'is'
      div.core: p= 'a'
      div.core: p= 'grid'
      div.core: p= '>5'
  section
    each base, i in [1, 1, 2, 1, 3, 4, 2, 2, 1]
      case i
        when 0
          div.depth0(class='base-'+base)
        when 1
          div.depth0(class='base-'+base)
        when 2
          div.depth0(class='base-'+base)
        when 3
          div.depth0(class='base-'+base)
        when 4
          div.depth0(class='base-'+base)
        when 5
          div.depth0(class='base-'+base)
        when 6
          div.depth0(class='base-'+base)
        when 7
          div.depth0(class='base-'+base)
        when 8
          div.depth0(class='base-'+base)
        when 9
          div.depth0(class='base-'+base)
        default
          div.depth0(class='base-'+base)
  section
    each base, i in [1, 1, 2, 1, 3, 4, 2, 2, 1]
      case i
        when 0
          div.depth0(class='base-'+base): p= 'Hello'
        when 1
          div.depth0(class='base-'+base): p= 'Hello world'
        when 2
          div.depth0(class='base-'+base)
        when 3
          div.depth0(class='base-'+base): p= 'asdjfklasdjfkl;adsfj asjdkfljsdaf   sajdklfjasdlf   jaskflasdf'
        when 4
          div.depth0(class='base-'+base)
        when 5
          div.depth0(class='base-'+base)
        when 6
          div.depth0(class='base-'+base)
        when 7
          div.depth0(class='base-'+base)
        when 8
          div.depth0(class='base-'+base)
        when 9
          div.depth0(class='base-'+base)
        default
          div.depth0(class='base-'+base)

