extends /layouts/base

append vars
  - viewId = 'home'

block body
  #flex-grid
    each base, i in [1, 1, 2, 1, 3, 4, 2, 2, 1, 3]
      case i
        when 0
          div.generic(class='base-'+base): p= 'Welcome to Minuet playground.'
        when 1
          div#fluid-block(class='base-'+base)
            div
              div: p= 'This grid item is a fluid block. Beware of whitespaces caused by inline-blocks.'
        when 2
          div.generic(class='base-'+base): p= 'Minuet is a stylesheet library that supports Sass and Stylus, with many cool and handy mixins and functions.'
        when 3
          div#flex-block(class='base-'+base)
            div: p= 'This grid item'
            div: p= 'is a flex-block'
            div: p= 'with 3 columns.'
        when 4
          div.generic(class='base-'+base): p= 'This whole grid is a flex-grid with direction set as \'row\'.'
        when 5
          div#parallax-block(class='base-'+base)
            div: p= 'This is a pure CSS parallax element with its own overflow scrolling.'
            div: p= 'It\'s kinda cool'
            div: p= 'But it\'s not very practical... (see this text is blurry and it\'s quite a hassle to fix it)'
        when 6
          div(class='base-'+base): video(autoplay loop muted): source(type='video/mp4' src='https://v.ftcdn.net/00/36/84/31/700_F_36843163_dYiFyrfbR8aBZMA8bZNfALA85hHtWFV0_ST.mp4')
        when 7
          div.generic(class='base-'+base): p: | This library pairs well with #[a(href='https://github.com/andrewscwei/requiem' target='_blank') Requiem].
        when 8
          div(class='base-'+base): img(src='http://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,dpr_1.0,q_80,w_10000/MTM1OTg5NTM4OTExNzIwNzIy.jpg')
        when 9
          div.generic(class='base-'+base): h2= 'Enjoy.'
        default
          div.generic(class='base-'+base): h2= i+1
