// © Andrew Wei

%cover {
  width: 100%;
  height: 100%;
}

%fullscreen {
  @extend %cover;
  @extend %box;
  @extend %tl;
}

%box {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

%hbox {
  @extend %box;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%vbox {
  @extend %box;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%hbox-tl {
  @extend %hbox;
  align-items: flex-start;
  justify-content: flex-start;
}

%hbox-tc {
  @extend %hbox;
  align-items: flex-start;
  justify-content: center;
}

%hbox-tr {
  @extend %hbox;
  align-items: flex-start;
  justify-content: flex-end;
}

%hbox-cl {
  @extend %hbox;
  align-items: center;
  justify-content: flex-start;
}

%hbox-cr {
  @extend %hbox;
  align-items: center;
  justify-content: flex-end;
}

%hbox-bl {
  @extend %hbox;
  align-items: flex-end;
  justify-content: flex-start;
}

%hbox-bc {
  @extend %hbox;
  align-items: flex-end;
  justify-content: center;
}

%hbox-br {
  @extend %hbox;
  align-items: flex-end;
  justify-content: flex-end;
}

%vbox-tl {
  @extend %vbox;
  align-items: flex-start;
  justify-content: flex-start;
}

%vbox-tc {
  @extend %vbox;
  align-items: center;
  justify-content: flex-start;
}

%vbox-tr {
  @extend %vbox;
  align-items: flex-end;
  justify-content: flex-start;
}

%vbox-cl {
  @extend %vbox;
  align-items: flex-start;
  justify-content: center;
}

%vbox-cr {
  @extend %vbox;
  align-items: flex-end;
  justify-content: center;
}

%vbox-bl {
  @extend %vbox;
  align-items: flex-start;
  justify-content: flex-end;
}

%vbox-bc {
  @extend %vbox;
  align-items: center;
  justify-content: flex-end;
}

%vbox-br {
  @extend %vbox;
  align-items: flex-end;
  justify-content: flex-end;
}

%cl {
  bottom: 0;
  left: 0;
  margin: auto 0;
  right: unset;
  top: 0;
  position: absolute;
}

%cc {
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  position: absolute;
}

%cr {
  bottom: 0;
  left: unset;
  margin: auto 0;
  right: 0;
  top: 0;
  position: absolute;
}

%tl {
  bottom: unset;
  left: 0;
  margin: 0;
  right: unset;
  top: 0;
  position: absolute;
}

%tc {
  bottom: unset;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
  position: absolute;
}

%tr {
  bottom: unset;
  left: unset;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
}

%bl {
  bottom: 0;
  left: 0;
  margin: 0;
  right: unset;
  top: unset;
  position: absolute;
}

%bc {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: unset;
  position: absolute;
}

%br {
  bottom: 0;
  left: unset;
  margin: 0;
  right: 0;
  top: unset;
  position: absolute;
}
