doctype html

block vars

html
  head
    title= 'Minuet Playground'
    link(rel='shortcut icon' href='')
    script(src='/javascripts/main.js')
  body
    header(id='global-nav')
      nav
        li: a(href='/')= 'Home'
        li: a(href='/flex.html')= 'Flex Layout'
    main(id=viewId)
      block body
