main#flex
  size(100% auto)
  background: #111

  +labels()
    font('Helvetica Neue' 'Helvetica' sans-serif, 1.5em, 100)
    color: #fff
    text-align: center

  img
    cover-image()

  section:nth-child(1)
    display('flex>')
    size(100% 400px)

    .depth0
      size(300px auto)
      +each-of-type()
        background: random-greyscale($max=150)
      +nth-of-type(1)
        display('box')
        height: 400px
        p
          margin(50px)
      +nth-of-type(2)
        size(500px auto)
        display('elasticv')
      +nth-of-type(3)
        display('elasticv')
      +nth-of-type(4)
        width: 300px
        height: 100%
        .grid
          display('gridv3@100%|10px')
          div
            +each-of-type()
              background: random-greyscale($max=150)
      +nth-of-type(5)
        display('grid>5@300px|5px')
        div
          +each-of-type()
            background: random-greyscale($max=150)

    .depth1
      +each-of-type()
        background: random-greyscale($max=150)
      +nth-of-type(1)
        display('boxv')
      +nth-of-type(2)
        display('elastic>')

    .depth2
      +each-of-type()
        display('box')
        background: random-greyscale($max=150)

    .core
      display('box')
      +each-of-type()
        background: random-greyscale($max=150)

  section:nth-child(2)
    display('grid>4?@100%/300px')

    .depth0,
    .depth1
      +each-of-type()
        background: random-greyscale($max=150)

  section:nth-child(3)
    display('grid>4?@100%|0px')

    .depth0,
    .depth1
      +each-of-type()
        background: random-greyscale($max=150)
