@require '~stylus/minuet'
@require '~stylus/reset'

main#home
  size(100% 100%)
  transition(all, 1s, ease)
  parallax-block(100)
  background: rgb(20, 90, 20)

  +labels()
    font('Helvetica Neue' 'Helvetica' sans-serif, 1.5em, 100)
    line-height: 1.4em
    color: rgba(255, 255, 255, 0.3)
    text-align: center

  +links()
    color: purple

  img
    cover-image()

  video
    cover-video()

  +box-id('flex-block')
    display: 'elastic>' left center
    color: white
    background: black

    & > div
      display: 'boxv'
      size(auto 100%)
      padding: 20px
      text-align: center

      for $i in (1..3)
        &:nth-child({$i})
          background: rgba(100, 100, 100, ($i * 0.1))

  +box-id('fluid-block')
    display: 'fluid' center
    color: white
    background: rgb(10, 10, 10)

    & > div
      size(80%)
      display: '(fluid)' center
      padding: 20px
      background: rgb(20, 20, 20)

  +box-id('parallax-block')
    pointer-events: none


    & > div
      display: 'box' center
      width: 100%
      height: 33.333333%

      for $i in (1..3)
        &:nth-child({$i})
          background: rgba(100, 100, 100, ($i * 0.1))
          transform: translate3d(0, 0, (($i - 1) * 10)px)

  +box-id('flex-grid')
    display: 'grid4/300px|10px'

    & > div.generic
      display: 'box'
      padding: 20px
      background: rgb(10, 10, 10)

      +labels()
        width: 100%

      +labels('header')
        font(null, 8em, 100)
      +labels('body')
        font(null, 2.0em, 100)

    & > *
      overflow: hidden
      transition(all, 0.4s, ease-out)

      +state('hover')
        opacity: 0.4
