/// Applies transition rules.
///
/// @param {List} $properties [all]        - Transition property(ies).
/// @param {List} $durations [0s]          - Transition duration(s).
/// @param {List} $timing-functions [ease] - Transition timing function(s).
/// @param {List} $delays [0s]             - Transition delay(s).
///
/// @group features
@mixin transition($properties:all, $durations:0s, $timing-functions:ease, $delays:0s) {
  transition-property: append($properties, null, comma);
  transition-duration: append($durations, null, comma);
  transition-timing-function: append($timing-functions, null, comma);
  transition-delay: append($delays, null, comma);
  @content;
}

/// Applies animation rules.
///
/// @param {List} $names [none]            - Animation name(s).
/// @param {List} $durations [0s]          - Animation duration(s).
/// @param {List} $timing-functions [ease] - Animation timing function(s).
/// @param {List} $delays [0s]             - Animation delay(s).
/// @param {List} $iteration-counts [1]    - Animation iteration count(s).
/// @param {List} $directions [normal]     - Animation direction(s).
/// @param {List} $fill-modes [none]       - Animation fill mode(s).
/// @param {List} $play-states [running]   - Animation play state(s).
///
/// @group features
@mixin animation($names:none, $durations:0s, $timing-functions:ease, $delays:0s, $iteration-counts:1, $directions:normal, $fill-modes:none, $play-states:running) {
  animation-name: append($names, null, comma);
  animation-duration: append($durations, null, comma);
  animation-timing-function: append($timing-functions, null, comma);
  animation-delay: append($delays, null, comma);
  animation-iteration-count: append($iteration-counts, null, comma);
  animation-direction: append($directions, null, comma);
  animation-fill-mode: append($fill-modes, null, comma);
  animation-play-state: append($play-states, null, comma);
  @content;
}

/// Enables/disables pointer events for target selector and all child selectors.
///
/// @param {Boolean} $enabled [true]   - Specifies whether element should have
///                                      pointer events enabled.
/// @param {Boolean} $recursive [true] - Specifies whether child elements should
///                                      also be applied.
/// @param {Boolean} $forced [true]    - Specifies whether the behavior is
///                                      tagged '!important'.
///
/// @group features
@mixin pointable($enabled:true, $recursive:true, $forced:true) {
  @if ($enabled == true) {
    @if ($recursive == true) {
      @if ($forced == true) {
        &, * { pointer-events: auto !important; }
      }
      @else {
        &, * { pointer-events: auto; }
      }
    }
    @else {
      @if ($forced == true) {
        & { pointer-events: auto !important; }
      }
      @else {
        & { pointer-events: auto; }
      }
    }
  }
  @else {
    @if ($recursive == true) {
      @if ($forced == true) {
        &, * { pointer-events: none !important; }
      }
      @else {
        &, * { pointer-events: none; }
      }
    }
    @else {
      @if ($forced == true) {
        & { pointer-events: none !important; }
      }
      @else {
        & { pointer-events: none; }
      }
    }
  }
}

/// Hides the target selector.
///
/// @param {Boolean} $forced [true] - Specifies whether !important is tagged.
///
/// @group features
@mixin hidden($forced:true) {
  @if ($forced == true) {
    display: none !important;
  }
  @else {
    display: none;
  }
}

/// Makes the target selector invisible.
///
/// @param {Boolean} $forced [true] - Specifies whether !important is tagged.
///
/// @group features
@mixin invisible($forced:true) {
  @if ($forced == true) {
    visibility: hidden !important;
  }
  @else {
    visibility: hidden;
  }
}

/// Applies mask to target selector.
///
/// @group functional/features
@mixin mask() {
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/// Applies mask to target selector.
///
/// @group functional/features
%mask { @include mask(); }

/// Enables hardware acceleration for containing selector.
///
/// @group functional/features
@mixin hardware-accelerated() {
  transform: translate3d(0px, 0px, 0px);
}

/// Enables hardware acceleration for containing selector.
///
/// @group functional/features
%hardware-accelerated { @include hardware-accelerated(); }
