/// Applies transition rules.
///
/// @param {List} $properties [all] - Transition property(ies).
/// @param {List} $durations [0s] - Transition duration(s).
/// @param {List} $timing-functions [ease] - Transition timing function(s).
/// @param {List} $delays [0s] - Transition delay(s).
///
/// @group features
@mixin transition($properties: all, $durations: 0s, $timing-functions: ease, $delays: 0s) {
  transition-property: append($properties, null, comma);
  transition-duration: append($durations, null, comma);
  transition-timing-function: append($timing-functions, null, comma);
  transition-delay: append($delays, null, comma);
  will-change: append($properties, null, comma);
  @content;
}

/// Applies animation rules.
///
/// @param {List} $names [none] - Animation name(s).
/// @param {List} $durations [0s] - Animation duration(s).
/// @param {List} $timing-functions [ease] - Animation timing function(s).
/// @param {List} $delays [0s] - Animation delay(s).
/// @param {List} $iteration-counts [1] - Animation iteration count(s).
/// @param {List} $directions [normal] - Animation direction(s).
/// @param {List} $fill-modes [none] - Animation fill mode(s).
/// @param {List} $play-states [running] - Animation play state(s).
///
/// @group features
@mixin animation($names: none, $durations: 0s, $timing-functions: ease, $delays: 0s, $iteration-counts: 1, $directions: normal, $fill-modes: none, $play-states: running) {
  animation-name: append($names, null, comma);
  animation-duration: append($durations, null, comma);
  animation-timing-function: append($timing-functions, null, comma);
  animation-delay: append($delays, null, comma);
  animation-iteration-count: append($iteration-counts, null, comma);
  animation-direction: append($directions, null, comma);
  animation-fill-mode: append($fill-modes, null, comma);
  animation-play-state: append($play-states, null, comma);
  @content;
}

/// Enables/disables pointer events for target selector and all child selectors.
///
/// @param {Boolean} $enabled [true] - Specifies whether element should have
///                                    pointer events enabled.
/// @param {Boolean} $recursive [true] - Specifies whether child elements should
///                                      also be applied.
/// @param {Boolean} $forced [true] - Specifies whether the behavior is tagged
///                                   `!important`.
///
/// @group features
@mixin pointable($enabled: true, $recursive: true, $forced: true) {
  @if ($enabled == true) {
    @if ($recursive == true) {
      @if ($forced == true) {
        &, * { pointer-events: auto !important; }
      }
      @else {
        &, * { pointer-events: auto; }
      }
    }
    @else {
      @if ($forced == true) {
        & { pointer-events: auto !important; }
      }
      @else {
        & { pointer-events: auto; }
      }
    }
  }
  @else {
    @if ($recursive == true) {
      @if ($forced == true) {
        &, * { pointer-events: none !important; }
      }
      @else {
        &, * { pointer-events: none; }
      }
    }
    @else {
      @if ($forced == true) {
        & { pointer-events: none !important; }
      }
      @else {
        & { pointer-events: none; }
      }
    }
  }
}

/// Hides element but makes it accessible to screen readers.
///
/// @group features
@mixin visually-hidden() {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/// Reverses the properties applied by `visually-hidden`.
///
/// @param {String} $position - The `position` property to apply to the element.
///
/// @group features
@mixin visually-shown($position: inherit) {
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

/// Applies mask to target selector.
///
/// @group features
@mixin mask() {
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/// Applies mask to target selector.
///
/// @group features
%mask { @include mask(); }
