/// Retuns a random color based on the specified parameters.
///
/// @param {number|boolean} $red   [true]  - A boolean value here indicates
///                                          whether r in rgba is randomized
///                                          (false will result in r of 0).
///                                          Otherwise the number will be used
///                                          as the r value.
/// @param {number|boolean} $green [true]  - A boolean value here indicates
///                                          whether g in rgba is randomized
///                                          (false will result in g of 0).
///                                          Otherwise the number will be used
///                                          as the g value.
/// @param {number|boolean} $blue  [true]  - A boolean value here indicates
///                                          whether b in rgba is randomized
///                                          (false will result in b of 0).
///                                          Otherwise the number will be used
///                                          as the b value.
/// @param {number|boolean} $alpha [false] - A boolean value here indicates
///                                          whether a in rgba is randomized
///                                          (false will result in a of 0).
///                                          Otherwise the number will be used
///                                          as the a value.
///
/// @returns {rgba}
///
/// @group palette
@function random-color($red:true, $green:true, $blue:true, $alpha:false) {
  $_red: if($red == true, random(256)-1, if($red == false, 0, $red));
  $_green: if($green == true, random(256)-1, if($green == false, 0, $green));
  $_blue: if($blue == true, random(256)-1, if($blue == false, 0, $blue));
  $_alpha: if($alpha == true, random(100)/100, if($alpha == false, 1, $alpha));
  @return rgba($_red, $_green, $_blue, $_alpha);
}

/// Returns a random greyscale color based on the specified parameters.
///
/// @param {number} $min           [0]     - Minimum value for the greyscale
///                                          color, within the range 0-255.
/// @param {number} $max           [255]   - Maximum value for the greyscale
///                                          color, within the range 0-255.
/// @param {number|boolean} $alpha [false] - A boolean value here indicates
///                                          whether a in rgba is randomized
///                                          (false will result in a of 0).
///                                          Otherwise the number will be used
///                                          as the a value.
///
/// @group palette
@function random-greyscale($min:0, $max:255, $alpha:false) {
  $_r: min($max, max($min, random(256)-1));
  $_alpha: if($alpha == true, random(100)/100, if($alpha == false, 1, $alpha));
  @return rgba($_r, $_r, $_r, $_alpha);
}
