/// Converts a string to a number with/without a unit, where applicable. Any
/// invalid inputs such as a non-number string or an unrecognized unit will
/// throw an error. Passing a number into this function does nothing.
///
/// @param {String/Number} $value - Value to be converted.
///
/// @returns {Number} The converted number value.
///
/// @example scss
///   to-number('6') // 6
///   to-number('6px') // 6px
///
/// @group utils
@function to-number($value) {
  @if (type-of($value) == 'number') {
    @return $value;
  }
  @else if (type-of($value) != 'string') {
    @error 'Value must be a number or a string';
  }

  $_output: 0;
  $_digits: 0;
  $_negative: str-slice($value, 1, 1) == '-';
  $_lookup: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($_negative, 2, 1) through str-length($value) {
    $_c: str-slice($value, $i, $i);

    @if not (index(map-keys($_lookup), $_c) or $_c == '.') {
      @return to-unit(if($_negative, -$_output, $_output), str-slice($value, $i));
    }

    @if ($_c == '.') {
      $_digits: 1;
    } @else if ($_digits == 0) {
      $_output: $_output * 10 + map-get($_lookup, $_c);
    } @else {
      $_digits: $_digits * 10;
      $_output: $_output + map-get($_lookup, $_c) / $_digits;
    }
  }

  @return if($_negative, -$_output, $_output);
}

/// Converts a number without unit to a number with the desired unit. If the
/// desired unit is an unrecognized unit, this function will throw an error.
///
/// @param {Number} $value - The number value to convert.
/// @param {String} $unit - Desired unit after the conversion.
///
/// @returns {Number} The converted number value with the desired unit.
///
/// @example scss
///   to-unit(6, 'px') // 6px
///
/// @group utils
@function to-unit($value, $unit) {
  $_units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax, 'deg': 1deg);

  @if (not index(map-keys($_units), $unit)) {
    @error 'Invalid unit: #{$unit}';
  }

  @return $value * map-get($_units, $unit);
}

/// Removes the unit from a number and returns it.
///
/// @param {Number} $number - Number to remove unit from.
///
/// @returns {Number} The number value without its original unit.
///
/// @group utils
@function strip-unit($number) {
  @if type-of($number) == 'number' {
    @if unitless($number) {
      @return $number;
    }
    @else {
      @return $number / ($number * 0 + 1);
    }
  }

  @error 'Invalid input: #{$number}';
}

/// Checks if a string ends with a substring.
///
/// @param {String} $string - String to check.
/// @param {String} $substring - Substring to check against.
///
/// @returns {Boolean} `true` if string contains the substring, `false`
///                    otherwise.
///
/// @group utils
@function ends-with($string, $substring) {
  @return str-slice($string, (str-length($string) - str-length($substring) + 1)) == $substring;
}
