// Minuet
// (c) VARIANTE (http://variante.io)
//
// This software is released under the MIT License:
// http://www.opensource.org/licenses/mit-license.php

/// Selector for elements with the data-class attribute.
///
/// @param {string} $name - data-class attribute value.
///
/// @group attributes
class($name)
  [data-class={$name}]
    {block}

/// Selector for elements with the data-instance attribute.
///
/// @param {string} $name - data-instance attribute value.
///
/// @group attributes
instance($name)
  [data-instance={$name}]
    {block}

/// Selects elements with the specified data- key and value.
///
/// @param {string} $key            - data- key.
/// @param {string} $value [null]   - data- value, if applicable.
/// @param {string} $scope ['this'] - Specifies the scope relative to the target
///                                   selector in which this property applies to
///                                   (any, this, parent, or child).
///
/// @group attributes
property($key, $value=null, $scope='this')
  if $value == null
    if $scope == 'any'
      / [data-{$key}]
        {block}

    else if $scope == 'this'
      &[data-{$key}]
        {block}

    else if $scope == 'parent'
      [data-{$key}] &
        {block}

    else if $scope == 'child'
      &[data-{$key}] *
        {block}

  else
    if $scope == 'any'
      / [data-{$key}={$value}]
        {block}

    else if $scope == 'this'
      &[data-{$key}={$value}]
        {block}

    else if $scope == 'parent'
      [data-{$key}={$value}] &
        {block}

    else if $scope == 'child'
      &[data-{$key}={$value}] *
        {block}

/// Binds the content to one/multiple data-state of the target selector. Option to
/// specify whether the state(s) are default.
///
/// @param {List}    $states          - List of state names.
/// @param {boolean} $default [false] - Specifies whether the class(es) are
///                                     default.
///
/// @group attributes
state($states, $default=false)
  for $state in $states
    if $state == 'hover'
      &:hover
        {block}
      &[data-state='hover']
        {block}
    else
      &[data-state={$state}]
        {block}

  if $default == true
    {block}
