// (c) Andrew Wei

/// Applies transition rules.
///
/// @param {List} $properties [all]        - Transition property(ies).
/// @param {List} $durations [0s]          - Transition duration(s).
/// @param {List} $timing-functions [ease] - Transition timing function(s).
/// @param {List} $delays [0s]             - Transition delay(s).
///
/// @group features
transition($properties=all, $durations=0s, $timing-functions=ease, $delays=0s)
  transition-property: comma-list($properties)
  transition-duration: comma-list($durations)
  transition-timing-function: comma-list($timing-functions)
  transition-delay: comma-list($delays)
  {block}

/// Applies animation rules.
///
/// @param {List} $names [none]            - Animation name(s).
/// @param {List} $durations [0s]          - Animation duration(s).
/// @param {List} $timing-functions [ease] - Animation timing function(s).
/// @param {List} $delays [0s]             - Animation delay(s).
/// @param {List} $iteration-counts [1]    - Animation iteration count(s).
/// @param {List} $directions [normal]     - Animation direction(s).
/// @param {List} $fill-modes [none]       - Animation fill mode(s).
/// @param {List} $play-states [running]   - Animation play state(s).
///
/// @group features
animation($names=none, $durations=0s, $timing-functions=ease, $delays=0s, $iteration-counts=1, $directions=normal, $fill-modes=none, $play-states=running)
  animation-name: comma-list($names)
  animation-duration: comma-list($durations)
  animation-timing-function: comma-list($timing-functions)
  animation-delay: comma-list($delays)
  animation-iteration-count: comma-list($iteration-counts)
  animation-direction: comma-list($directions)
  animation-fill-mode: comma-list($fill-modes)
  animation-play-state: comma-list($play-states)
  {block}

/// Enables hardware acceleration for containing selector.
///
/// @group features
hardware-acceleration()
  transform: translate3d(0, 0, 0)

/// Enables/disables pointer events for target selector and all child selectors.
///
/// @param {boolean} $enabled [true]   - Specifies whether element should have
///                                      pointer events enabled.
/// @param {boolean} $recursive [true] - Specifies whether child elements should
///                                      also be applied.
/// @param {boolean} $forced [true]    - Specifies whether the behavior is
///                                      tagged '!important'.
///
/// @group features
pointable($enabled=true, $recursive=true, $forced=true)
  if $enabled == true
    if $recursive == true
      if $forced == true
        &, *
          pointer-events: auto !important
      else
        &, *
          pointer-events: auto
    else
      if $forced == true
        &
          pointer-events: auto !important
      else
        &
          pointer-events: auto
  else
    if $recursive == true
      if $forced == true
        &, *
          pointer-events: none !important
      else
        &, *
          pointer-events: none
    else
      if $forced == true
        &
          pointer-events: none !important
      else
        &
          pointer-events: none

/// Applies mask to target selector.
///
/// @group features
mask()
  overflow: hidden
  -webkit-mask-image: url(data:image/png\;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)

/// Hides the target selector.
///
/// @param {boolean} $forced [true] - Specifies whether !important is tagged.
///
/// @group features
hidden($forced=true)
  if $forced == true
    display: none !important
  else
    display: none

/// Makes the target selector invisible.
///
/// @param {boolean} $forced [true] - Specifies whether !important is tagged.
///
/// @group features
invisible($forced=true)
  if $forced == true
    visibility: hidden !important
  else
    visibility: hidden
