// (c) Andrew Wei

/// Returns a random number from specified min and max values.
///
/// @param {number} $min - The min value.
/// @param {number} $max - The max value.
///
/// @return {number}
///
/// @group math
random($min, $max)
  return math(math(0, 'random')*($max - $min + 1) + $min, 'floor')
