// (c) Andrew Wei

/// Selector for label elements. Each element is meant to contain text only. For
/// optimal results, do not nest label elements. For italics, use <i>, and for
/// bold, use <b>. <a> is not treated as a label element and should only be used
/// to make a nested element a hyperlink.
///
/// @param {string} $type ['all'] - Type of the label (i.e. 'body', 'header',
///                                 'all')
///
/// @group selectors
labels($type='all')
  if $type == 'all' or $type == 'body'
    p
      {block}
    em
      {block}
    strong
      {block}
    label
      {block}
    a[type='label']
      {block}
    li[type='label']
      {block}
    span[type='label']
      {block}

  if $type == 'all' or $type == 'header'
    h1
      {block}
    h2
      {block}
    h3
      {block}
    h4
      {block}
    h5
      {block}
    h6
      {block}

/// Selects labels with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
label($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +labels()
      &[name={$name}]
        {block}

/// Selects labels with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
label-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +labels()
      &.{$class}
        {block}

/// Selects labels with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
label-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +labels()
      &#{$id}
        {block}

/// Selector for icon elements.
///
/// @group selectors
icons()
  span[type='icon']
    {block}

/// Selects icons with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
icon($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +icons()
      &[name={$name}]
        {block}

/// Selects icons with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
icon-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +icons()
      &.{$class}
        {block}

/// Selects icons with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
icon-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +icons()
      &#{$id}
        {block}

/// Selector for static elements.
///
/// @group selectors
statics()
  form
    {block}

/// Selects statics with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
static($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +statics()
      &[name={$name}]
        {block}

/// Selects statics with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
static-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +statics()
      &.{$class}
        {block}

/// Selects statics with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
static-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +statics()
      &#{$id}
        {block}

/// Selector for button elements.
///
/// @group selectors
buttons()
  a[type='button']
    {block}
  input[type='submit']
    {block}
  input[type='button']
    {block}
  input[type='checkbox']
    {block}
  input[type='file']
    {block}
  button
    {block}

/// Selects buttons with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
button($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +buttons()
      &[name={$name}]
        {block}

/// Selects buttons with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
button-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +buttons()
      &.{$class}
        {block}

/// Selects buttons with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
button-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +buttons()
      &#{$id}
        {block}

/// Selector for hyperlinks.
///
/// @group selectors
links()
  a:not([type='button']):not([type='label'])
    {block}

/// Selects links with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
link($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +links()
      &[name={$name}]
        {block}

/// Selects links with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
link-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +links()
      &.{$class}
        {block}

/// Selects links with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
link-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +links()
      &#{$id}
        {block}

/// Selector for textfield input elements.
///
/// @group selectors
textfields()
  input[type='text']
    {block}
  input[type='password']
    {block}
  input[type='number']
    {block}
  input[type='date']
    {block}
  input[type='month']
    {block}
  input[type='week']
    {block}
  input[type='time']
    {block}
  input[type='datetime']
    {block}
  input[type='datetime-local']
    {block}
  input[type='email']
    {block}
  input[type='search']
    {block}
  input[type='tel']
    {block}
  input[type='url']
    {block}
  textarea
    {block}

/// Selects textfields with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
textfield($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +textfields()
      &[name={$name}]
        {block}

/// Selects textfields with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
textfield-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +textfields()
      &.{$class}
        {block}

/// Selects textfields with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
textfield-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +textfields()
      &#{$id}
        {block}

/// Selector for box elements.
///
/// @group selectors
boxes()
  article
    {block}
  aside
    {block}
  details
    {block}
  dialog
    {block}
  summary
    {block}
  footer
    {block}
  header
    {block}
  main
    {block}
  figcaption
    {block}
  figure
    {block}
  hgroup
    {block}
  nav
    {block}
  section
    {block}
  div
    {block}
  table
    {block}
  tr
    {block}
  td
    {block}
  th
    {block}
  tbody
    {block}
  thead
    {block}
  tfoot
    {block}
  col
    {block}

/// Selects boxes with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
box($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +boxes()
      &[name={$name}]
        {block}

/// Selects boxes with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
box-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +boxes()
      &.{$class}
        {block}

/// Selects boxes with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
box-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +boxes()
      &#{$id}
        {block}

/// Selector for list elements.
///
/// @group selectors
lists()
  ul
    {block}
  ol
    {block}

/// Selects lists with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
list($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +lists()
      &[name={$name}]
        {block}

/// Selects lists with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
list-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +lists()
      &.{$class}
        {block}

/// Selects lists with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
list-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +lists()
      &#{$id}
        {block}

/// Selector for images.
///
/// @group selectors
lists()
  li:not([type='label'])
    {block}

/// Selector for images.
///
/// @group selectors
list-items()
  li:not([type='label'])
    {block}

/// Selects images with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
list-item($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +list-items()
      &[name={$name}]
        {block}

/// Selects images with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
list-item-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +list-items()
      &.{$class}
        {block}

/// Selects images with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
list-item-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +list-items()
      &#{$id}
        {block}

/// Selector for images.
///
/// @group selectors
images()
  li:not([type='label'])
    {block}

/// Selects images with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
image($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +images()
      &[name={$name}]
        {block}

/// Selects images with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
image-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +images()
      &.{$class}
        {block}

/// Selects images with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
image-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +images()
      &#{$id}
        {block}

/// Selector for videos.
///
/// @group selectors
videos()
  li:not([type='label'])
    {block}

/// Selects videos with the given instance name.
///
/// @param {string} $name - Instance name.
///
/// @group selectors
video($name='')
  if $name == ''
    warn('Instance name must be specified')
  else
    +videos()
      &[name={$name}]
        {block}

/// Selects videos with the given class(es).
///
/// @param {string} $class - Class(es).
///
/// @group selectors
video-class($class='')
  if $class == ''
    warn('Class must be specified')
  else
    +videos()
      &.{$class}
        {block}

/// Selects videos with the given ID.
///
/// @param {string} $id - ID.
///
/// @group selectors
video-id($id='')
  if $id == ''
    warn('ID must be specified')
  else
    +videos()
      &#{$id}
        {block}

/// Selects each of the containing element based on the child index.
///
/// @param {number} $max [10] - Max child index to iterate to.
///
/// @group selectors
each-child($max=10)
  for $i in (1..$max)
    &:nth-child({$i})
      {block}

/// Selects each of the containing element based on the child index of this
/// specific element type.
///
/// @param {number} $max [10] - Max child index to iterate to.
///
/// @group selectors
each-of-type($max=10)
  for $i in (1..$max)
    &:nth-child({$i})
      {block}
