// © Andrew Wei

/// Converts a font size to em.
///
/// @param {number} $value - Font size.
///
/// @return {font-size}
///
/// @group typography
to-em($value)
  $_unit: unit($value)
  
  if $_unit == 'px' 
    return unit($value / $font-size-default, em)
  else 
    return $value